@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="content">

  <div id="video">

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" >
    <source src="~/videos/baby-yoda.mp4" type="video/mp4">
  </video>

  <div>
</div>